.dashdiv{
    height:100px;
    width:1300px;
    margin-top:100px ;
    margin-left: 200px;
    font-size: 100px;
    font-weight: bold;
}

.img{
    height: 500px;
    width:700px;
    align-self: center;
    padding: 20px;
}

.text{
    font-weight: bold;
    font-size: 30px;
}